<br/>
<h1>Dashboard</h1>
<hr></hr>
<div class="alert alert-success" role="alert">
    <h2 style= margin-top:0px class="alert-heading">Product:</h2>
    <h4>There are currently <a href='/admin/products'><%= @info1 %></a> products!</h4>
</div>

<div class="alert alert-success" role="alert">
    <h2 style= margin-top:0px class="alert-heading">Category:</h2>
    <h4>There are currently <a href='/admin/products'><%= @info2 %></a> categories!</h4>
</div>
